<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::div})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid cont1">
        <div class="row justify-content-center align-items-center confr">
            <div class="col-sm-4 col-md-4 ">
            <h1>Password has been sent to Your Mail Please Check Your Inbox</h1>
            <i>After using this pass please delete this mail Thank You...</i>
             <a class="btn btn-acc" th:href="@{index}">Return to Home</a>
	        </div>
	    </div>
</div>
</body>
</html>