<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::div})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid cont1">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="demo-content" >
                	<h1>Passwords</h1>
                	<h3>[En(Crypt)+(De)Crypt]</h3>
					<p>Save your Passwords in Encrypted Format<br/>Or<br/>Generate Strong Passwords</p>
                </div>
            </div>
        </div>
    </div>
	
</body>
</html>