<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::div})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid cont1">
        <div class="row align-items-center justify-content-center loginh1">
            <div class="col-sm-3">
            <h1>Login Here</h1>
                <div class="login-content" >
                	<div th:if="${param.error}" class="alert alert-danger">
                		Invalid Username and Password
                	</div>
                	<div th:if="${param.logout}" class="alert alert-success">
                		You have been logged out
                	</div>
                	<form method="post" th:action="@{/login}">
					  <div class="mb-3">
					    <label for="exampleInputEmail1" class="form-label">Email address</label>
					    <input type="text"name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
					  </div>
					  <div class="mb-3">
					    <label for="exampleInputPassword1" class="form-label">Password</label>
					    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
					  </div>
					  <div class="mb-3 form-check">
					    <input type="checkbox" class="form-check-input" id="exampleCheck1">
					    <label class="form-check-label" for="exampleCheck1">Check me out</label>
					  </div>
					  <button type="submit" class="btn btn-primary">Submit</button>
					</form>
	            </div>
	        </div>
	    </div>
</body>
</html>